@charset "UTF-8";

/* -------------------------------------
 *
 * base
 *
------------------------------------- */


body {
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
  color: $base-font-color;
  @include max-screen($break-point-mobile) {
    font-size: 14px;
  }
}
a {
  color: $base-link-color;
  text-decoration: none;
  transition: opacity .4s;
}
a:hover {
  opacity: .7;
}

label {
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

@font-face{ 
  font-family: "ayuccoro";
  src: url("../fonts/ayuccoro/ayuccoro.eot");
  src: url("../fonts/ayuccoro/ayuccoro.eot?#iefix") format("embedded-opentype"),
       url("../fonts/ayuccoro/ayuccoro.woff") format("woff"),
       url("../fonts/ayuccoro/ayuccoro.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}