@charset "UTF-8";

/* -------------------------------------
 *
 * helper
 *
------------------------------------- */


/* mobile none */
.u-mobile-none {
  @include max-screen($break-point-mobile) {
    display: none;
  }
}


/* clearfix */
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}