@charset "UTF-8";

/* -------------------------------------
 *
 * helper
 *
------------------------------------- */


/* text decolation */
.textNormal { font-weight: normal !important; }
.textBold { font-weight: bold !important; }
.textUnderline { text-decoration: underline !important; }
.textItalic { font-style: italic !important; }
.textNote { padding-left: 1em; text-indent: -1em; }


/* element position */
.elementLeft { text-align: left !important; }
.elementCenter { text-align: center !important; }
.elementRight { text-align: right !important; }
.elementTop { vertical-align: top !important; }
.elementMiddle { vertical-align: middle !important; }
.elementBottom { vertical-align: bottom !important; }


/* font-size */
@for $i from 10 through 20 {
  .fs#{$i} {
    font-size: 1px * $i !important;
  }
}


/* margin top */
@for $i from 0 through 10 {
  .mt#{$i * 5} {
    @if $i == 0 {
      margin-top: 0 !important;
    }
    @else {
      margin-top: 5px * $i !important;
    }
  }
}

/* margin bottom */
@for $i from 0 through 10 {
  .mb#{$i * 5} {
    @if $i == 0 {
      margin-bottom: 0 !important;
    }
    @else {
      margin-bottom: 5px * $i !important;
    }
  }
}


/* clearfix */
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}