@charset "UTF-8";

/* -------------------------------------
 *
 * layout
 *
------------------------------------- */

/* -------------------------------------
 * page
------------------------------------- */
body {
}
.wrapper {
}



/* -------------------------------------
 * header
------------------------------------- */
.header {
  clear: both;
  width: 100%;
  min-height: 100vh;
  padding: 80px 0;
  box-sizing: border-box;
  background: url(../img/pic_header_01.jpg) no-repeat 50% 100% / cover;
}
.header__inner {
  width: 100%;
  max-width: $contents-max-width;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* logo */
.logo {
  color: #fff;
  font-family: $ayuccoro-font-family;
  font-size: 80px;
  text-align: center;
  line-height: 1;
}


/* -------------------------------------
 * main
------------------------------------- */
/* main */
.main {
  clear: both;
  width: 100%;
}


/* section */
.section {
  clear: both;
  width: 100%;
  padding: 60px 0 80px;
  @include max-screen($break-point-mobile) {
    padding: 40px 0 60px;
  }
}
.section__inner {
  width: 100%;
  max-width: $contents-max-width;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.section__heading {
  position: relative;
  font-family: $ayuccoro-font-family;
  font-size: 90px;
  text-align: center;
  line-height: 1;
  @include max-screen($break-point-mobile) {
    font-size: 60px;
  }
  &:before,
  &:after {
    content: "";
    display: inline-block;
    width: 116px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    vertical-align: middle;
    @include max-screen($break-point-mobile) {
      display: none;
    }
  }
  &:before {
    margin-right: 50px;
    background-image: url(../img/svg/ico_garland_left_01.svg);
  }
  &:after {
    margin-left: 50px;
    background-image: url(../img/svg/ico_garland_right_01.svg);
  }
}
.section__text {
  margin-top: 40px;
  text-align: center;
  line-height: 2;
  @include max-screen($break-point-mobile) {
    text-align: left;
  }
}
.section__image {
  margin-top: 40px;
  text-align: center;
}


/* button */
.button {
  margin-top: 40px;
  text-align: center;
}
.button__trigger {
  display: inline-block;
  width: 100%;
  max-width: 400px;
  padding: 15px;
  background-color: #5fbca9;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 2px 2px 0 rgba(#000, .3);
  color: #fff;
  font-size: 22px;
  text-align: center;
  @include max-screen($break-point-mobile) {
    font-size: 18px;
  }
  &--strong {
    max-width: 500px;
    padding: 25px;
    background-color: #fff;
    color: #1e695a;
  }
}



/* greeting */
.greeting {
}
.greeting__image {
  img {
    max-width: 240px;
  }
}


/* invitation */
.invitation {
  background-color: $section-color;
}
.detail {
  display: table;
  width: 100%;
  max-width: 400px;
  margin: 40px auto 0;
}
.detail__row {
  & > * {
    padding-top: 5px;
  }
}
.detail__head {
  font-weight: normal;
  vertical-align: top;
  white-space: nowrap;
  &:after {
    content: ":";
    display: inline-block;
    margin: 0 5px;
  }
}
.detail__data {
}
.detail__note {
  margin-top: 5px;
  font-size: 14px;
  @include max-screen($break-point-mobile) {
    font-size: 12px;
  }
}


/* profile */
.profile {
}
.profile-box {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  @include max-screen($break-point-mobile) {
    display: block;
    margin-top: 20px;
    text-align: center;
  }
}
.profile-box__data {
  padding-top: 50px;
  @include max-screen($break-point-mobile) {
    display: inline-block;
    margin: 0 15px 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
  }
  &--bride {
    order: 100;
  }
}
.profile-box__name {
  position: relative;
  font-family: $ayuccoro-font-family;
  font-size: 60px;
  line-height: 1;
  @include max-screen($break-point-mobile) {
    font-size: 50px;
  }
}
.profile-box__flag {
  position: absolute;
  top: -35px;
  left: -20px;
  width: 80px;
}
.profile-box__text {
  margin-top: 10px;
  line-height: 1.5;
  @include max-screen($break-point-mobile) {
    font-size: 18px;
  }
}
.profile-box__image {
  min-width: 140px;
  margin: 0 70px 0 50px;
  text-align: center;
  @include max-screen($break-point-mobile) {
    margin: 0 auto;
    max-width: 100px;
    min-width: 0;
  }
  img {
    width: 100%;
  }
}


/* dresscode */
.dresscode {
  background-color: $section-color;
}
.dresscode__image {
  img {
    width: 100%;
    max-width: 340px;
  }
}


/* welcome */
.welcome {
  background-color: #5fbca9;
}
.welcome__heading {
  color: #fff;
}
.welcome__text {
  margin-top: 30px;
  font-size: 22px;
  font-weight: bold;
  @include max-screen($break-point-mobile) {
    font-size: 16px;
  }
}



/* -------------------------------------
 * footer
------------------------------------- */
.footer {
  clear: both;
  width: 100%;
  padding: 50px 0 30px;
  background-color: #37404a;
  font-family: $ayuccoro-font-family;
  color: #fff;
  text-align: center;
}
.footer__inner {
  width: 100%;
  max-width: $contents-max-width;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.footer__enjoy {
  font-size: 60px;
  line-height: 1;
  @include max-screen($break-point-mobile) {
    font-size: 50px;
  }
}
.footer__right {
  display: block;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}