@charset "UTF-8";

/* -------------------------------------
 *
 * layout
 *
------------------------------------- */

/* -------------------------------------
 * page
------------------------------------- */
html,
body {
  height: 100%;
}



/* -------------------------------------
 * header
------------------------------------- */
.header {
  clear: both;
  width: 100%;
  min-height: 100%;
  padding: 80px 0;
  box-sizing: border-box;
  background: url(../img/pic_header_01.jpg) no-repeat 50% 100% / cover;
}
.header__inner {
  width: 100%;
  max-width: $contents-max-width;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* logo */
.logo {
  color: #fff;
  font-family: $ayuccoro-font-family;
  font-size: 80px;
  text-align: center;
  line-height: 1;
}


/* -------------------------------------
 * main
------------------------------------- */
/* main */
.main {
  clear: both;
  width: 100%;
}


/* section */
.section {
  clear: both;
  width: 100%;
  padding: 60px 0 80px;
  overflow: hidden;
  @include max-screen($break-point-mobile) {
    padding: 40px 0 60px;
  }
}
.section__inner {
  width: 100%;
  max-width: $contents-max-width;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.section__heading {
  position: relative;
  font-family: $ayuccoro-font-family;
  font-size: 90px;
  text-align: center;
  line-height: 1;
  @include max-screen($break-point-mobile) {
    font-size: 60px;
  }
}
.section__heading-text {
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    display: block;
    width: 116px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform: translateY(-50%) scale(2);
    @include max-screen($break-point-mobile) {
      transform: translateY(-50%) scale(1.5);
    }
  }
  &:before {
    right: 100%;
    margin-top: 10px;
    margin-right: 60px;
    background-image: url(../img/ico_garland_left_01.svg);
    transform-origin: 100% 50%;
    @include max-screen($break-point-mobile) {
      margin-right: 25px;
    }
  }
  &:after {
    left: 100%;
    margin-left: 60px;
    background-image: url(../img/ico_garland_right_01.svg);
    transform-origin: 0 50%;
    @include max-screen($break-point-mobile) {
      margin-left: 25px;
    }
  }
}
.section__text {
  margin-top: 40px;
  text-align: center;
  line-height: 2;
  @include max-screen($break-point-mobile) {
    margin-top: 25px;
    text-align: left;
    line-height: 1.8;
  }
}
.section__text-paragraph {
  & + & {
    @include max-screen($break-point-mobile) {
      margin-top: 10px;
    }
  }
}
.section__text-strong {
  position: relative;
  z-index: 0;
  display: inline-block;
  margin: 0 10px;
  &:after {
    content: "";
    position: absolute;
    bottom: 11px;
    left: -2px;
    z-index: -1;
    width: 100%;
    width: calc(100% + 4px);
    height: 7px;
    background-color: #d7d736;
    @include max-screen($break-point-mobile) {
      bottom: 9px;
      height: 5px;
    }
  }
}
.section__image {
  margin-top: 40px;
  text-align: center;
}


/* button */
.button {
  margin-top: 40px;
  text-align: center;
  @include max-screen($break-point-mobile) {
    margin-top: 30px;
  }
  &--strong {
    margin-top: 30px;
    @include max-screen($break-point-mobile) {
      margin-top: 20px;
    }
  }
}
.button__trigger {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 400px;
  padding: 15px;
  background-color: #5fbca9;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 2px 2px 0 rgba(#000, .2);
  color: #fff;
  font-size: 22px;
  text-align: center;
  transition: none;
  @include max-screen($break-point-mobile) {
    font-size: 18px;
  }
  &.is-disabled {
    text-decoration: line-through;
  }
  &--strong {
    max-width: 580px;
    padding: 30px;
    background-color: #fff;
    color: #1e695a;
    font-size: 24px;
    @include max-screen($break-point-mobile) {
      padding: 15px;
      font-size: 18px;
    }
  }
  &:hover:not(.is-disabled) {
    @include min-screen($break-point-mobile) {
      opacity: 1;
      top: -2px;
      left: -2px;
      box-shadow: 4px 4px 0 rgba(#000, .2);
    }
  }
}



/* greeting */
.greeting {
}
.greeting__image {
  img {
    width: 100%;
    max-width: 220px;
    @include max-screen($break-point-mobile) {
      max-width: 160px;
    }
  }
}


/* invitation */
.invitation {
  background-color: $section-color;
}
.detail {
  display: table;
  width: 100%;
  max-width: 400px;
  margin: 40px auto 0;
  @include max-screen($break-point-mobile) {
    margin-top: 25px;
  }
}
.detail__row {
  & > * {
    padding-top: 5px;
  }
}
.detail__head {
  font-weight: normal;
  vertical-align: top;
  white-space: nowrap;
  &:after {
    content: ":";
    display: inline-block;
    margin: 0 5px;
  }
}
.detail__data {
}
.detail__note {
  margin-top: 5px;
  font-size: 14px;
  @include max-screen($break-point-mobile) {
    font-size: 12px;
  }
}
.detail__link {
  position: relative;
  margin-top: 5px;
  display: inline-block;
  padding-left: 20px;
  &:before {
    content: "";
    position: absolute;
    top: .5em;
    left: 0;
    width: 6px;
    height: 6px;
    border-top: $base-link-color 1px solid;
    border-right: $base-link-color 1px solid;
    transform: rotate(45deg);
  }
}


/* profile */
.profile {
}
.profile-box {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  @include max-screen($break-point-mobile) {
    display: block;
    margin-top: 20px;
    text-align: center;
  }
}
.profile-box__data {
  padding: 50px 20px 0;
  @include max-screen($break-point-mobile) {
    display: inline-block;
    margin: 0 15px 30px;
    text-align: left;
  }
  &--bride {
    order: 100;
  }
}
.profile-box__name {
  position: relative;
  font-family: $ayuccoro-font-family;
  font-size: 60px;
  line-height: 1;
  @include max-screen($break-point-mobile) {
    font-size: 50px;
  }
}
.profile-box__flag {
  position: absolute;
  top: -35px;
  left: -20px;
  width: 80px;
}
.profile-box__text {
  margin-top: 10px;
  line-height: 1.5;
  @include max-screen($break-point-mobile) {
    font-size: 18px;
  }
}
.profile-box__image {
  min-width: 140px;
  margin: 0 60px 0 50px;
  text-align: center;
  @include max-screen($break-point-mobile) {
    margin: 30px auto 0;
    max-width: 100px;
    min-width: 0;
  }
  img {
    width: 100%;
    max-width: 140px;
  }
}


/* dresscode */
.dresscode {
  background-color: $section-color;
}
.dresscode__image {
  img {
    width: 100%;
    max-width: 340px;
  }
}


/* welcome */
.welcome {
  background-color: #5fbca9;
}
.welcome__heading {
  color: #fff;
}
.welcome__heading-text {
  &:before {
    background-image: url(../img/ico_garland_left_02.svg);
  }
  &:after {
    background-image: url(../img/ico_garland_right_02.svg);
  }
}
.welcome__text {
  margin-top: 30px;
  font-size: 22px;
  font-weight: bold;
  @include max-screen($break-point-mobile) {
    font-size: 16px;
  }
}



/* -------------------------------------
 * footer
------------------------------------- */
.footer {
  position: relative;
  clear: both;
  width: 100%;
  padding: 110px 0 30px;
  background-color: #37404a;
  font-family: $ayuccoro-font-family;
  color: #fff;
  text-align: center;
}
.footer__inner {
  width: 100%;
  max-width: $contents-max-width;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.footer__mirrorball {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  &:before {
    content: "";
    position: absolute;
    top: 20px;
    left: -20px;
    width: 1px;
    height: 1px;
    background-color: rgba(#fff, 0);
    box-shadow: 0 0 10px rgba(#fff, 1);
  }
}
.footer__enjoy {
  font-size: 60px;
  line-height: 1;
  @include max-screen($break-point-mobile) {
    font-size: 50px;
  }
}
.footer__right {
  display: block;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}