@charset "UTF-8";

/* -------------------------------------
 *
 * layout
 *
------------------------------------- */

/* -------------------------------------
 * page
------------------------------------- */
body {
}
#wrapper {
}



/* -------------------------------------
 * header
------------------------------------- */
#header {
  clear: both;
  width: 100%;
}
#headInner {
  width: $contentsWidth;
  margin: 0 auto;
}

/* logo */
.logo {
}



/* -------------------------------------
 * nav
------------------------------------- */
#nav {
  clear: both;
}


/* -------------------------------------
 * main
------------------------------------- */
/* content */
#content {
  clear: both;
  width: 100%;
}

/* main */
#main {
  width: 100%;
}



/* -------------------------------------
 * footer
------------------------------------- */
#footer {
  clear: both;
  width: 100%;
}
#footInner {
  width: $contentsWidth;
  margin: 0 auto;
}

/* copyright */
.copyright {
}