@charset "UTF-8";

/* -------------------------------------
 *
 * base
 *
------------------------------------- */


body {
  font-size: 14px;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  line-height: 1.7;
  color: #333;
}
a:link {
  color: #333;
  text-decoration: none;
}
a:visited {
  color: #333;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  color: #333;
  text-decoration: none;
}

label {
  cursor: pointer;
}
img {
  vertical-align: middle;
}